table.sorting tr:not(.home){
    cursor:pointer;
}
.ui-state-highlight {
    border: 5px dashed #ff0000;
}
span.ajax-text {
    display: none;
}
table.sorting.Categories td {
    padding: 25px !important;
}

.ajaxdivtd {
    position: absolute;
}

span.loader {
    display: none;
}
span.ajaxmsg {
    background: green;
    color: white;
    padding: 10px;
    display: none;
    position: absolute;
    bottom: 0;
}
.ib{
    display:inline-block !important;
}

ul.adminarea {
    position: relative;
    top: 15px;
}

.ajaxbg {
    position: absolute;
    width: 100%;
    height: 100%;
    background: white;
    display: none;
    z-index: 1;
}

    .ajaxbg span {
        position: absolute;
        top: 30%;
        left: 50%;
    }

form.paypalform {
    position: absolute;
    left: -2000px;
}
